html {
  height: 100%;
}
body {
  height: 100%;
  background-image: url("external-content.duckduckgo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
#main {
  width: 65%;
  margin: auto;
  height: auto;
  border: 10px outset blue;
  background-color: lightblue;    
  text-align: center;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
